<div class = "bd-example">
<form (submit)="nuevoUsuario($event)">
  <div class="form-row">

    <label for="inputEmail4" class="col-form-label">Correo</label>
    <input type="email" class="form-control" id="correousuario" placeholder="Email...">

  </div>
  <div class="form-row">
    
    <div class="form-group col-md-6">
      <label for="inputEmail4" class="col-form-label">Usuario</label>
      <input type="text" class="form-control" id="usuario" placeholder="Usuario...">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4" class="col-form-label">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Password...">
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress" class="col-form-label">direccion</label>
    <input type="text" class="form-control" id="direccion" placeholder="Direccion...">
  </div>

  <button type="submit" class="btn btn-primary" >Registrarse</button>
</form>
</div>


<div>
<h3>usuarios disponibles</h3>

<ul *ngFor="let usuario of usuarios | async">
    <li>
      <strong>{{ usuario.data.user}}</strong>
      <br>
      {{usuario.data.correo }}
    </li>
  </ul>
</div>



      <button id="asdf" type="submit" class="btn btn-primary" (click)="loggearusuarios()">Registrarse</button>
